#navbar{
    height: 50px;
    width: 900px;
    border: 2px solid lightseagreen;
    background-color: pink;
    display: flex;
    justify-content:flex-start;
    align-content: center;
    border-radius: 10px;

}
.option{
    height: 50px;
    width: 80px;
    font-size: 22px;
    margin: 10px 0 0 10px;
}