.cantain{
    height: 300px;
    width: 80%;
    border: 2px solid black;
    background-color: azure;
    margin: 10px auto;

    display: flex;

    flex-direction: row;  /* row-reverse / column / column-reverse */

    justify-content:flex-start; /*flex-start / flex-end / center / space-between, around, evenly */


    /* flex-wrap:wrap ; */
    /*nowrap / wrap / wrap-reverse*/


    /* align-items: flex-end;   */
    /*crass-axis-> flex-start / flex-end / center / baseline */


    /* align-content: ;  */
    /* crass-axis-> flex-start / flex-end / center / space-between, around, evenly  -> similar to justify-content*/


    /* align-self: ; */
    /*crass-axis-> flex-start / flex-end / center / baseline  ->similar to align-items & it is use individual  */


    /* flex Sizing -> individual  */
    /* flex-basis: 20px; */
    /* flex-grow: ; */
    /* flex-shrink: ; */

    
}
h3{
    text-align: center;
}
.cantain div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
}