.red{
    color: red;
}
.blue{
    color: blue;
}
.bb{
    border: 2px solid black;

}
.bcolor{
    background-color: pink;
}
.bg{
    background-color: blue;
}
.white{
    color: white;
}
.cpurple{
    color: purple;
}