div{
    width: 200px;
    height: 100px;
    background-color: aqua;


    /* animation-name: font;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-direction:alternate; */

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: colanimate 2s ease-in 0s 6 alternate;
}

@keyframes font {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}


/* % In Animation  */
@keyframes colanimate {
    0%{
       background-color: aqua;
    }
    10%{
        background-color: blue;
    }
    30%{
       background-color:blueviolet;
    }
    50%{
        background-color:brown;
    }
    100%{
        background-color: blue;
    }
}