section{
    margin: 100px;
}
div{
    height: 60px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    background-color: #7aa874;
    margin:15px ;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(2n+1){
    background-color: #ebb02b;
}

/* Transform */
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.8);
}
#three{
    transform: translate(100px, 10px);
}
#four{
    transform: skew(30deg);
}

/* //box shadow */


/* background image  */